@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

li, nav, ul {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.title {
  font-size: 30px;
  color: #ff0036;
  font-weight: 700;
  font-family: "Raleway";
}

.lineb {
  width: 500px;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  height: 2px;
  left: 50%;
  background: #908f8f;
}
.lineb span:before, .lineb span:after {
  width: 20px;
  height: 10px;
  background: #383838;
  content: "";
  position: absolute;
  top: -200%;
  border-radius: 1px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.lineb span:after {
  -webkit-transform: translateX(50%) rotate(45deg);
  transform: translateX(50%) rotate(45deg);
}
.lineb:before, .lineb:after {
  width: 20px;
  height: 10px;
  background: #383838;
  border-radius: 1px;
  content: "";
  position: absolute;
  top: -200%;
  right: 50%;
  -webkit-transform: translateX(50%) rotate(-90deg);
  transform: translateX(50%) rotate(-90deg);
}
.lineb:after {
  -webkit-transform: translateX(50%) rotate(-45deg);
  transform: translateX(50%) rotate(-45deg);
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  font-weight: 700;
  margin-top: 20px;
  padding: 0 3px;
}
.subtitle span {
  color: #ff0036;
}

.product-body__item {
  width: 100%;
  border: 1px solid #acacac;
  -webkit-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
  height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product-body__item a {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
  font-size: calc(12px + 8 * ((100vw - 320px) / 1650));
  color: #262626;
  font-weight: 500;
  font-family: "Raleway";
  text-transform: uppercase;
}
.product-body__item p {
  padding: 0 15px;
}
.product-body__item:hover {
  background: #ff0036;
}
.product-body__item:hover a {
  color: #fff;
}
.product-body__item:hover .figure3:before {
  background: #ff0036;
}
.product-body__item:hover .figure3:after {
  background: #ff0036;
}
.product-body__item:hover .figure2:after {
  background: #fff;
}
.product-body__item:hover .figure2:before {
  background: #fff;
}
.product-body__item:hover .figure1:after {
  background: #fff;
}
.product-body__item:hover .figure1:before {
  background: #fff;
}
.product-body__item .figure1 {
  position: relative;
  width: 35px;
  height: 35px;
}
.product-body__item .figure1:before, .product-body__item .figure1:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 32px;
  background: #d1d1d1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-body__item .figure1:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.product-body__item .figure1:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.product-body__item .figure2:before, .product-body__item .figure2:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 32px;
  background: #d1d1d1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-body__item .figure2:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.product-body__item .figure3:before, .product-body__item .figure3:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  left: 50%;
  width: 6px;
  height: 3px;
  border-radius: 1px;
  background: #3d3d3d;
}
.product-body__item .figure3:before {
  -webkit-transform: translate(-93%, -13%) rotate(45deg);
  transform: translate(-93%, -13%) rotate(45deg);
}
.product-body__item .figure3:after {
  width: 11px;
  -webkit-transform: translate(-25%, -50%) rotate(130deg);
  transform: translate(-25%, -50%) rotate(130deg);
}

.burger {
  width: 60px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.712);
  display: none;
}
.burger-one, .burger-two, .burger-three {
  width: 40px;
  height: 3px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger-two {
  -webkit-transform: translate(-50%, -50%) translateY(10px);
  transform: translate(-50%, -50%) translateY(10px);
}
.burger-three {
  -webkit-transform: translate(-50%, -50%) translateY(20px);
  transform: translate(-50%, -50%) translateY(20px);
}

._active-burger .burger-two {
  -webkit-transform: translate(-50%, -50%) translate(30px, 10px);
  transform: translate(-50%, -50%) translate(30px, 10px);
  opacity: 0;
}
._active-burger .burger-three {
  -webkit-transform: translate(0px, 10px) translate(-50%, -50%) rotate(45deg);
  transform: translate(0px, 10px) translate(-50%, -50%) rotate(45deg);
}
._active-burger .burger-one {
  -webkit-transform: translate(0px, 10px) translate(-50%, -50%) rotate(-45deg);
  transform: translate(0px, 10px) translate(-50%, -50%) rotate(-45deg);
}

.header {
  height: 100vh;
  width: 100%;
  color: #fff;
}

.header-row {
  background: #000;
  height: 70px;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}
.header-row__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navigation {
  width: 100%;
}
.header-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 70px;
  margin-left: 30px;
}
.header-navigation__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.header-navigation__item:hover {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
.header-navigation .header-navigation__item:hover .header-navigation__link {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-navigation__link {
  font-size: 18px;
  color: #c5c5c5;
  font-family: "Raleway";
  text-transform: uppercase;
}

.header-main {
  height: 100%;
}
.header-main #disableArrow {
  opacity: 0.3;
}

.slider {
  height: 100%;
}

.slider-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}
.slider-track__item {
  height: 100%;
}

.header-contentbg {
  background: url(./img/hover.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 5px 10px;
}
.header-content__title span {
  color: #fff;
}
.header-content__text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
  max-width: 1000px;
}
.header-content__button {
  width: 170px;
  min-height: 50px;
  background-color: #ff0036;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Raleway";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 40px 15px 0 15px;
}
.header-content__button:hover {
  background: #fff;
  border: 2px solid #ff0036;
  color: #ff0036;
}

.slider-arrow__prev {
  width: 50px;
  height: 50px;
  border-top: 10px solid #ff0036;
  border-right: 10px solid #ff0036;
  background: none;
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.slider-arrow__next {
  width: 50px;
  height: 50px;
  border-top: 10px solid #ff0036;
  border-right: 10px solid #ff0036;
  border-radius: 4px;
  background: none;
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 1000px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

.about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.about-header__title span {
  color: #262626;
}

.about-body {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 50% 1em 50%;
  -ms-width: 100%;
  position: relative;
  min-height: 450px;
  margin-top: 30px;
  width: 100%;
}
.about-body__info {
  width: 100%;
  -ms-grid-column: 1;
}
.about-body__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-transform: translateX(-300px);
  min-width: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 20px;
}
.about-body__image .about-image1, .about-body__image .about-image3 {
  max-width: 375px;
  max-height: 324px;
  position: relative;
}
.about-body__image .about-image1 {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}
.about-body__image .about-image3 {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}
.about-body__image .about-image2 {
  max-width: 426px;
  max-height: 370px;
  position: relative;
  z-index: 1;
}

.about-info {
  margin-top: 25px;
}
.about-info__text {
  font-size: 16px;
  line-height: 22px;
  color: #505050;
}

.accordion {
  position: relative;
  z-index: 0;
  margin-top: 30px;
}
.accordion-inner {
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #7a7a7a;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 50px 1fr;
  -ms-grid-columns: 50px 0px 1fr;
  cursor: pointer;
  background: #ececec;
}
.accordion-inner p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #262626;
  font-weight: 500;
  font-family: "Raleway";
  height: 45px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-left: 1px solid #7a7a7a;
  padding-left: 30px;
  grid-column: 2;
  -ms-grid-column: 3;
}
.accordion-inner__icon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  grid-column: 1;
  -ms-grid-column: 1;
  position: relative;
}
.accordion-inner__icon:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border: 1px solid #7a7a7a;
  border-radius: 50%;
}
.accordion-inner__icon .icon-one {
  width: 10px;
  height: 2px;
  background: #424242;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.accordion-inner__icon .icon-two {
  width: 10px;
  height: 2px;
  background: #424242;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.accordion-item {
  border: 1px solid #7a7a7a;
  border-collapse: collapse;
  margin: 10px 0;
}
.accordion-item__text {
  font-size: 14px;
  line-height: 22px;
  color: #505050;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  padding: 0 10px;
}
.accordion-item .activeAcord {
  max-height: 6rem;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 40px;
}

.about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 20px 0;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about-items__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 25%;
}
.about-items div:nth-child(n) {
  padding: 10px;
}
.about-items__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 78px;
  margin: 0 auto;
}
.about-items__title {
  font-size: 20px;
  color: #262626;
  font-weight: 500;
  font-family: "Raleway";
  margin-top: 25px;
}
.about-items__text {
  font-size: 16px;
  margin-top: 15px;
  line-height: 22px;
  color: #505050;
}

.portfolio {
  background: #262626;
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.portfolio__title {
  color: #fff;
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 420px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 20px;
}
.portfolio__item {
  font-size: 16px;
  color: #a4a4a4;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.portfolio__item:hover {
  color: #ff0036;
}
.portfolio ._active-gallery {
  color: #fff;
}

.gallery-one__list {
  display: grid;
  grid-template-columns: 30% 20% 30% 20%;
  grid-template-rows: 1fr 1fr;
  display: -ms-grid;
  -ms-grid-columns: 30% 0 20% 0 30% 0 20%;
  -ms-grid-rows: 1fr 0 1fr;
}
.gallery-one__list li:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.gallery-one__list li:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}
.gallery-one__list li:nth-child(3) {
  -ms-grid-column: 5;
  -ms-grid-row: 1;
}
.gallery-one__list li:nth-child(4) {
  -ms-grid-column: 7;
  -ms-grid-row: 1;
}
.gallery-one__list li:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}
.gallery-one__list li:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}
.gallery-one__list li:nth-child(7) {
  -ms-grid-column: 5;
  -ms-grid-row: 3;
}
.gallery-one__list li:nth-child(8) {
  -ms-grid-column: 7;
  -ms-grid-row: 3;
}
.gallery-one__item {
  position: relative;
}
.gallery-one__item img {
  width: 100%;
  height: 320px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.gallery-one__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.gallery-one .gallery-one__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 200%);
  transform: translate(-50%, 200%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.gallery-one .gallery-one__text:before, .gallery-one .gallery-one__text:after {
  content: "";
  position: absolute;
  top: -300%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 10px;
  background: white;
}
.gallery-one .gallery-one__text:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.gallery-one .gallery-one__item:hover .gallery-one__text {
  opacity: 1;
}
.gallery-one .gallery-one__item:hover img {
  -webkit-filter: brightness(0.15);
  filter: brightness(0.15);
}

.block-black {
  height: 110px;
  background: #262626;
  position: relative;
}
.block-black .lineb {
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  background: #ff0036;
}
.block-black .lineb:before, .block-black .lineb:after {
  background: #ff0036;
}
.block-black .lineb span:before,
.block-black .lineb span:after {
  background: #ff0036;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 720px;
  padding-bottom: 80px;
}
.product__title {
  margin-top: 40px;
}
.product__title span {
  color: #262626;
}

.product-body {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 1fr 0 1fr 0 1fr;
  margin-top: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
}
.product-body__leftblock {
  -ms-grid-column: 1;
}
.product-body__leftblock .product-body__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.product-body__rigthblock {
  -ms-grid-column: 5;
}
.product-body__block {
  height: 100%;
}
.product-body__list {
  height: 100%;
  margin-top: 120px;
}
.product-body__list li {
  margin-top: 30px;
}
.product-body__image {
  position: relative;
  width: 100%;
  -ms-grid-column: 3;
}
.product-body__image img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-body__image .product-body__imagebutton {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Raleway";
  min-width: 170px;
  height: 50px;
  background-color: #393939;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product-body__image .product-body__imagebutton:hover {
  background: #ff0036;
}

.clients {
  min-height: auto;
  background: url(./img/clints_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}
.clients .line {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.clients .line .lineb {
  background: #ff0036;
}
.clients .line .lineb:before, .clients .line .lineb:after {
  background: #ff0036;
}
.clients .line .lineb span:before,
.clients .line .lineb span:after {
  background: #ff0036;
}
.clients .container {
  min-height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.clients__header {
  text-align: center;
  margin-top: 20px;
}
.clients__title span {
  color: #fff;
}

.clints-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: -20px 0 20px 0;
}
.clints-body__people {
  width: 50%;
}
.clints-body__logo {
  width: 50%;
}

.clints-people {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clints-people__title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Raleway";
  text-transform: uppercase;
}
.clints-people__text {
  font-size: 16px;
  margin-top: 40px;
  line-height: 22px;
  color: #a4a4a4;
}

.clints-items__wrap {
  overflow: hidden;
  width: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-transition: 1s;
  transition: 1s;
}
.clints-items__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 25px;
}
.clints-items__name {
  font-size: 16px;
  color: #ff0036;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Raleway";
  margin-top: 10px;
}
.clints-items__slide {
  margin-top: 10px;
}

.clints-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clints-slide span {
  width: 11px;
  height: 11px;
  background: #e0e0e0;
  margin: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.clints-slide ._active-name {
  background: #ff0036;
}

.clints-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: -ms-grid;
  -ms-grid-columns: 1fr 0 1fr;
  -ms-grid-rows: 1fr 0 1fr;
}
.clints-logo .clints-block {
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 50px #686868;
  box-shadow: inset 0px 0px 50px #686868;
  height: 116px;
  margin: 20px;
}
.clints-logo .clints-block div {
  height: 100%;
  width: 100%;
  padding: 0 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(13px + 3 * ((100vw - 320px) / 1650));
  font-weight: 600;
  font-family: "Raleway";
  text-transform: uppercase;
  color: #292626;
}
.clints-logo .clints-block div img {
  margin-right: 5px;
}
.clints-logo .clints-block1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.clints-logo .clints-block2 {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}
.clints-logo .clints-block3 {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}
.clints-logo .clints-block4 {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}

.clints-block1__inner img {
  margin-top: 13px;
}

.bestseller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding-bottom: 60px;
}
.bestseller__header {
  margin-top: 40px;
}
.bestseller__title span {
  color: #272727;
}

.reseller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 16px;
  color: #262626;
}
.reseller .reseller__wrap:hover .reseller__price {
  background: #ff0036;
}
.reseller .reseller__wrap:hover .reseller__price {
  color: #fff;
}
.reseller__wrap {
  width: 23%;
  border: 1px solid #a5a5a5;
  margin: 10px;
}
.reseller__title {
  padding: 10px 10px;
  background: #262626;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: calc(16px + 2 * ((100vw - 320px) / 1650));
}
.reseller .reseller__price {
  padding: 15px;
}
.reseller__price {
  font-size: calc(30px + 20 * ((100vw - 320px) / 1650));
  line-height: initial;
  color: #262626;
  background: #e7e7e7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 900;
}
.reseller__price span {
  font-size: 22px;
  font-weight: 400;
}
.reseller__specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.reseller__specifications div:nth-child(n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 2px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #a5a5a5;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1650));
}
.reseller__inner {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #a5a5a5;
}
.reseller__button {
  width: 85%;
  min-height: 38px;
  background-color: #262626;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1650));
  color: #ffffff;
  font-family: "Raleway";
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.reseller__button:hover {
  background: #ff0036;
}

.teamwork {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}
.teamwork .line {
  position: relative;
  -webkit-transform: none;
  transform: none;
  margin-left: -500px;
  margin-top: 50px;
}
.teamwork__header {
  margin-top: 20px;
}
.teamwork__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 0 80px 0;
}

.teamwork-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.caesar__image {
  background: url(./img/teamwork/caezar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.general {
  width: 23%;
  cursor: pointer;
  height: 355px;
  border: 1px solid #bebdbd;
}
.general__image {
  height: 240px;
}
.general:hover .general__socials {
  opacity: 1;
}
.general__socials {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.911);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.general__socials a {
  padding: 0 5px;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}
.general__socials a:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.general-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 5px;
}
.general-text__title {
  font-size: 20px;
  color: #262626;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Raleway";
}
.general-text__subtitle {
  font-size: 16px;
  color: #505050;
  margin-top: 5px;
}

.arm__image {
  background: url(./img/teamwork/amr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sarah__image {
  background: url(./img/teamwork/johan.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.johan__image {
  background: url(./img/teamwork/doe.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.circles-text {
  color: #ff0036;
}

.activeStats .general-text h4 {
  color: #ff0036;
}
.activeStats .general-text p {
  color: #ff0036;
}

.skills-general {
  margin: 15px;
}

.skills-title {
  font-size: 20px;
  color: #262626;
  font-weight: 500;
  font-family: "Raleway";
  text-transform: uppercase;
  margin-top: 20px;
}

.skills-text {
  font-size: 16px;
  line-height: 18px;
  color: #505050;
  margin-top: 10px;
}

.services {
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 50px;
}
.services__header {
  text-align: center;
  margin-top: 30px;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.blocks__items {
  width: 45%;
  margin: 50px 5px 0px 5px;
}
.blocks__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.blocks__title {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1650));
  color: #ffffff;
  font-weight: 500;
  font-family: "Raleway";
  text-transform: uppercase;
  margin-left: 30px;
}
.blocks__text {
  background: #3f3f3f;
  padding: 30px;
  font-size: calc(15px + 1 * ((100vw - 320px) / 1650));
  line-height: 22px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #b4b4b4;
}
.blocks .blocks__text:hover {
  background: #5c2732;
}

.twitter {
  background: #272727;
  position: relative;
  min-height: 290px;
}
.twitter__inner {
  max-width: 670px;
  min-height: 290px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.twitter__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 39px;
  height: 31px;
}
.twitter__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 0 10px;
}
.twitter__bgimage {
  position: absolute;
  bottom: 0;
  left: 5%;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 80px;
}
.blog__header {
  text-align: center;
  margin-top: 40px;
}
.blog__title span {
  color: #222222;
}
.blog__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.blog__btn {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: relative;
  background-color: #cecece;
  margin: 40px auto;
}
.blog__btn:before, .blog__btn:after {
  content: "";
  position: absolute;
  top: 53%;
  left: 50%;
  width: 15px;
  height: 3px;
  border-radius: 5px;
  background: #535353;
}
.blog__btn:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  left: 39%;
}
.blog__btn:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 61%;
}

.post-gen {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 30px;
}
.info__title {
  font-size: 20px;
  color: #2e2e2e;
  font-weight: 600;
  font-family: "Raleway";
}
.info__text {
  font-size: 16px;
  line-height: 20px;
  color: #505050;
  max-width: 570px;
}
.info__button {
  max-width: 120px;
  min-height: 40px;
  background-color: #ff0036;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 5px;
}
.info__button:hover {
  background: #fff;
  border: 1px solid #ff0036;
  color: #ff0036;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 5px 5px 0;
}
.items__gen {
  font-size: 12px;
  color: #a2a2a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}
.items__gen p {
  margin-left: 5px;
}
.items__admin {
  margin-left: 0;
}

/*  END====================== */
.end{
  min-height: 500px;
  background: rgb(87, 87, 87);
  color: #fff;
}
.end__gallery{
  display: flex;
}
.end__gallery img{
  display: flex;
  width: 25%;
  height: 500px;
  padding: 15px;
}
.end p {
  padding: 15px;
  font-size: 20px;
}
@media (max-width:1500px){
  .end__gallery img{
    display: none;
  }
  .end{
    min-height: 300px;
    background: rgb(87, 87, 87);
    color: #fff;
  }
  .end__gallery{
    padding-top: 30px;
  }
}
/* END============================== */
@media (max-width: 1440px) {
  .about-body__image .about-image1, .about-body__image .about-image3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 325px;
    max-height: 280px;
  }

  .about-body__image .about-image2 {
    max-width: 380px;
    max-height: 320px;
  }

  .about-body__image .about-image1 {
    -webkit-transform: translateX(280px);
    transform: translateX(280px);
  }

  .about-body__image .about-image3 {
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
  }
}
@media (max-width: 1110px) {
  .slider-arrow__next, .slider-arrow__prev {
    top: 60%;
  }

  .header-navigation__link {
    font-size: 16px;
  }

  .header-row__upper img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 190px;
    height: 100px;
  }

  .product-body__item a {
    padding: 0 10px;
  }

  .product-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: -40px;
  }

  .product-body__image {
    width: 500px;
    height: 500px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 966px) {
  .about-body {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    margin-top: 0;
  }

  .about-info {
    margin-top: 0;
  }
  .about-info__text {
    padding-top: 10px;
  }

  .gallery-one__list {
    grid-template-columns: 4fr 3fr 4fr;
  }
  .gallery-one__list li:nth-child(8) {
    width: 200%;
    margin-left: 35%;
  }
  .gallery-one__list li:nth-child(7) {
    width: 135%;
  }
  .gallery-one__list li:nth-child(4) {
    width: 94%;
  }
  .gallery-one__list li:nth-child(5) {
    margin-left: -10%;
  }
  .gallery-one__list li:nth-child(6) {
    width: 110%;
    margin-left: -10%;
  }
  .reseller {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .reseller .reseller__wrap {
    width: 43%;
  }
  .reseller .reseller__specifications div:nth-child(n) {
    padding: 10px 2px;
  }
}
@media (max-width: 867px) {
  .header-row__upper img {
    width: 160px;
    height: 90px;
  }

  .header-navigation__list {
    margin-left: 0;
  }

  .header-navigation__link {
    font-size: 15px;
  }

  .about-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .about-items__general {
    width: 50%;
    margin-top: 10px;
  }

  .general {
    width: 45%;
    margin: 10px;
    height: auto;
  }
  .general-text {
    padding: 15px 5px;
  }

  .teamwork-gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .teamwork-gallery {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header-navigation {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #3f3f3f;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    left: -200%;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header-navigation .header-navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 70%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #909090;
    width: 70%;
    margin: 20% auto;
    position: relative;
    z-index: 99;
  }
  .header-navigation .header-navigation__list li:first-child {
    border-top: none;
  }
  .header-navigation .header-navigation__link {
    font-size: 22px;
  }
  .header-navigation .header-navigation__item {
    border-top: 1px solid #909090;
    border-bottom: none;
  }

  .burger {
    display: block;
  }

  .header-row {
    max-height: 50px;
  }

  .clints-logo {
    grid-template-columns: 1fr;
  }

  .clints-body {
    margin-top: 20px;
  }

  .clints-logo .clints-block {
    height: 100px;
  }

  .general__socials {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .general__socials a {
    margin: 5px 0;
  }

  .post-gen {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  .info {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
  }

  .info__button {
    margin-top: 5px;
  }
}
@media (max-width: 630px) {
  .slider-arrow__next, .slider-arrow__prev {
    top: 80%;
  }

  .header-content__button {
    width: 150px;
    min-height: 40px;
  }

  .header-content__text {
    margin-top: 10px;
  }

  .header-content {
    margin-top: 20px;
  }

  .about-items__general {
    width: 100%;
  }

  .about-items__text {
    margin-top: 5px;
  }

  .about-items__title {
    margin-top: 10px;
  }

  .teamwork .line {
    margin-top: 30px;
  }

  .gallery-one__list {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-one__list li:nth-child(8) {
    width: 115%;
    margin-left: -15%;
  }
  .gallery-one__list li:nth-child(3) {
    width: 115%;
  }
  .gallery-one__list li:nth-child(4) {
    margin-left: 15%;
  }
  .gallery-one__list li:nth-child(5) {
    margin-left: 0;
  }
  .gallery-one__list li:nth-child(6) {
    width: 100%;
    margin-left: 0;
  }
  .gallery-one__list li:nth-child(7) {
    width: 85%;
  }

  .skills-general {
    width: 40%;
  }

  .teamwork__skills {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blocks__text {
    padding: 20px;
  }
}
@media (max-width: 550px) {
  .product-body__list {
    margin-top: 70px;
  }

  .product-body__list2 .product-body__item a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .general__socials {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .general__socials img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    height: 30px;
  }
}
@media (max-width: 500px) {
  .about-body__image .about-image1, .about-body__image .about-image3 {
    max-width: 270px;
    max-height: 240px;
  }

  .about-body__image {
    margin-left: 0;
  }

  .about-body__image .about-image2 {
    max-width: 290px;
    max-height: 290px;
  }

  .about-body__image .about-image1 {
    -webkit-transform: translateX(240px);
    transform: translateX(240px);
  }

  .about-body__image .about-image3 {
    -webkit-transform: translateX(-240px);
    transform: translateX(-240px);
  }

  .portfolio__item {
    width: 50%;
    margin-top: 20px;
  }

  .portfolio__list {
    margin-top: 0;
  }

  .product-body__image img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }

  .product-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product-body__image .product-body__imagebutton {
    width: 140px;
    min-height: 40px;
    font-size: 18px;
    bottom: 120px;
  }

  .clints-body__people {
    width: 100%;
  }

  .clints-body__logo {
    width: 100%;
  }

  .clints-body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .clints-logo .clints-block {
    margin: 10px;
  }

  .clints-people__text {
    margin-top: 15px;
  }

  .blocks__items {
    width: 100%;
    margin: 30px 5px 0px 5px;
  }

  .reseller__button {
    min-height: 30px;
  }
}
@media (max-width: 425px) {
  .general {
    width: 43%;
  }
  .general .johan__image {
    background-position-x: 30%;
  }

  .reseller .reseller__price {
    padding: 5px;
  }
}
._active-menu {
  left: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .clients .container {
    height: 620px;
  }

  .clints-body {
    height: auto;
  }

  .gallery-one__item:hover img {
    opacity: 0.3;
  }

  .gallery-one {
    background: #000;
  }

  .about-body__image {
    height: 500px;
  }

  .twitter__inner {
    height: 290px;
  }

  .reseller__inner {
    height: 50px;
  }
}